<div class="col-sm-12">
	<h1 class="font-thin h3">Eventos activos<span class="badge"></span></h1>
	<p class="text-muted">Aquí llegan todos los reportes de botón de pánico.</p>
</div>
<div class="col-sm-8">
	<div class="card">
		<div class="card-heading">
			<h2>Evento #219829819812</h2> </div>
		<div class="card-body">
			<p class="text-right">
				<button class="btn btn-success"> Confirmar caso</button>
				<button class="btn btn-info">Falsa alarma</button>
				<button class="btn btn-warning">Broma</button>
				<button class="btn btn-default">Cerrar evento</button>
			</p>
			<hr>
			<div class="row row-sm">
				<div class="col-sm-12">
					<div class="md-form-group">
						<input class="md-input" disabled value="Miguel Rios">
						<label>Nombre</label>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="md-form-group">
						<input class="md-input" value="9034984333" disabled>
						<label>Teléfono</label>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="md-form-group">
						<input class="md-input" value="Hoy 05:02 hrs" disabled>
						<label>Fecha y hora de reporte</label>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="md-form-group">
						<input class="md-input" value="2117 S 10th St">
						<label>Dirección de reporte</label>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="md-form-group">
						<input class="md-input" value="Phar">
						<label>Ciudad</label> <span class="md-input-msg right"></span> </div>
				</div>
				<div class="col-sm-4">
					<div class="md-form-group">
						<input class="md-input" value="Texas">
						<label>Estado</label>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="md-form-group">
						<input class="md-input" value="00000">
						<label>Código postal</label>
					</div>
				</div>
				<p><img src="images/promigrante/map.png" width="100%"></p>
				<div class="col-sm-12">
					<div class="md-form-group">
						<label>Plan de contingencia familiar</label>
					</div>
					<div class="md-list md-whiteframe-z0 m-b">
						<div class="md-list-item ">
							<div class="md-list-item-left"> </div>
							<div class="md-list-item-content">
								<div ng-controller="ModalDemoCtrl">
									<button class="btn btn-info pull-right" ng-click="open('lg')">Enviar SMS</button>
								</div>
								<h3 class="text-md"><a href="">Miguel Gómez</a></h3>
								<p><small class="font-thin">Ubicación: <strong>México</strong></small></p>
								<p><small class="font-thin">Teléfono: <strong>5577383838</strong></small></p>
								<p><small class="font-thin">Parentesco: <strong>Familia</strong></small></p>
								<blockquote> Llamar a mi hermano y avisarle que se comunique con mi amigo Luis y avise a mi mamá que estoy bien </blockquote>
							</div>
						</div>
						<div class="md-list-item ">
							<div class="md-list-item-left"> </div>
							<div class="md-list-item-content">
								<div ng-controller="ModalDemoCtrl">
									<button class="btn btn-info pull-right" ng-click="open('lg')">Enviar SMS</button>
								</div>
								<h3 class="text-md"><a href="">Mario Pérez Hernández</a></h3>
								<p><small class="font-thin">Ubicación: <strong>Estados Unidos</strong></small></p>
								<p><small class="font-thin">Teléfono: <strong>2273782929</strong></small></p>
								<p><small class="font-thin">Parentesco: <strong>Amistad</strong></small></p>
								<blockquote> Pedir que retire dinero de la cuenta de ahorro y enviar a primo Luis. </blockquote>
							</div>
						</div>
						<hr>
						<div class="md-form-group">
							<textarea class="md-input" rows="4"></textarea>
							<label>Registre enventos en la bitácora</label>
							<button class="btn btn-success">Añadir a bitacora</button>
						</div>
						<h5>Bitácora</h5>
						<table class="table table-bordered table-hover bg-white">
							<thead>
								<tr>
									<th>#</th>
									<th>Fecha</th>
									<th>Actividad</th>
									<th>Agente</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>18/Enero/2017 12:09 hrs</td>
									<td>Se intentó contactar a familiares pero no contestan llamada.</td>
									<td>Agente 1</td>
								</tr>
								<tr>
									<td>2</td>
									<td>18/Enero/2017 14:10 hrs</td>
									<td>Se ha contactado a abogado</td>
									<td>Agente 1</td>
								</tr>
								<tr>
									<td>3</td>
									<td>17/Enero/2017 09:10 hrs</td>
									<td>Se ha confirmado evento</td>
									<td>Agente 4</td>
								</tr>
								<tr>
									<td>4</td>
									<td>17/Enero/2017 09:10 hrs</td>
									<td>Se ha localizado a usuario. Se encuentra bien</td>
									<td>Agente 4</td>
								</tr>
							</tbody>
						</table>
						<h5>SMS Enviados</h5>
						<table class="table table-bordered table-hover bg-white">
							<thead>
								<tr>
									<th>#</th>
									<th>Fecha</th>
									<th>Mensaje</th>
									<th>Estatus</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>18/Enero/2017 12:09 hrs</td>
									<td>Hola tu familiar ha sido capturado por la migra, habla al 18000000000 para recibir más información el no de reporte es #10100.</td>
									<td>Enviado</td>
								</tr>
								<tr>
									<td>1</td>
									<td>18/Enero/2017 12:09 hrs</td>
									<td>Hola tu familiar ha sido capturado por la migra, habla al 18000000000 para recibir más información el no de reporte es #10100.</td>
									<td>Enviado</td>
								</tr>
								<tr>
									<td>1</td>
									<td>18/Enero/2017 12:09 hrs</td>
									<td>Hola tu familiar ha sido capturado por la migra, habla al 18000000000 para recibir más información el no de reporte es #10100.</td>
									<td>Enviado</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-sm-4">
	<div class="row">
		<div class="col-sm-12">
			<h5>Reportes (8)</h5>
			<div class="md-list md-whiteframe-z0 m-b">
				<div class="md-list-item  pm-item-selected">
					<div class="md-list-item-left"> <img src="images/a9.jpg" class="w-full circle"> </div>
					<div class="md-list-item-content"> <span class="label red pull-right"><a href="">Atender evento</a></span>
						<h3 class="text-md h3-event">Miguel Ríos</h3> <small class="font-thin">Phar, Texas</small>
						<p><small class="font-thin">Hoy 05:02 hrs</small>
							<br><i class="fa fa-check"></i> Confirmado</p>
						<p><small class="font-clock">Tiempo de atención: 2h 3m 12s</small></p>
					</div>
				</div>
				
				<div class="md-list-item bg-white">
					<div class="md-list-item-left"> <img src="images/a2.jpg" class="w-full circle"> </div>
					<div class="md-list-item-content"> <span class="label orange pull-right">Por confirmar</span>
						<h3 class="text-md">Rafael López</h3> <small class="font-thin">McAllen, Texas</small>
						<p><small class="font-thin">Hoy 18:02 hrs</small></p>
						<p><small class="font-clock">Tiempo de atención: 1h 3m 12s</small></p>
					</div>
				</div>
				<div class="md-list-item bg-white">
					<div class="md-list-item-left"> <img src="images/a3.jpg" class="w-full circle"> </div>
					<div class="md-list-item-content"> <span class="label green pull-right">Atendiendo</span>
						<h3 class="text-md">Mari Ochoa</h3> <small class="font-thin">Queens, New York</small>
						<p><small class="font-thin">18/02/2016 13:01 hrs</small>
							<br><i class="fa fa-check"></i> Confirmado</p>
						<p><small class="font-clock">Tiempo de atención: 1d 2h 3m 12s</small></p>
					</div>
				</div>
				<div class="md-list-item bg-white">
					<div class="md-list-item-left"> <img src="images/a4.jpg" class="w-full circle"> </div>
					<div class="md-list-item-content"> <span class="label orange pull-right">Por atender</span>
						<h3 class="text-md">Luis Alvarado</h3> <small class="font-thin">New York, New York</small>
						<p><small class="font-thin">18/02/2016 13:01 hrs</small>
							<br><i class="fa fa-check"></i> Confirmado</p>
					</div>
				</div>
				<div class="md-list-item bg-white">
					<div class="md-list-item-left"> <img src="images/a5.jpg" class="w-full circle"> </div>
					<div class="md-list-item-content"> <span class="label orange pull-right">Por atender</span>
						<h3 class="text-md">Mike Arredondo</h3> <small class="font-thin">New York, New York</small>
						<p><small class="font-thin">18/02/2016 13:01 hrs</small>
							<br><i class="fa fa-check"></i> Confirmado</p>
					</div>
				</div>
				<div class="md-list-item bg-white">
					<div class="md-list-item-left"> <img src="images/a6.jpg" class="w-full circle"> </div>
					<div class="md-list-item-content"> <span class="label orange pull-right">Por atender</span>
						<h3 class="text-md">Juan Pelaez</h3> <small class="font-thin">New York, New York</small>
						<p><small class="font-thin">18/02/2016 13:01 hrs</small>
							<br><i class="fa fa-check"></i> Confirmado</p>
					</div>
				</div>
				<div class="md-list-item bg-white">
					<div class="md-list-item-left"> <img src="images/a7.jpg" class="w-full circle"> </div>
					<div class="md-list-item-content"> <span class="label orange pull-right">Por atender</span>
						<h3 class="text-md">Robert Medina</h3> <small class="font-thin">New York, New York</small>
						<p><small class="font-thin">18/02/2016 13:01 hrs</small>
							<br><i class="fa fa-check"></i> Confirmado</p>
					</div>
				</div>
			</div>
			<h5>Cerrados</h5>
			<div class="md-list md-whiteframe-z0 bg-white m-b">
				<div class="md-list-item inset">
					<div class="md-list-item-left"> <img src="images/a2.jpg" class="w-full circle"> </div>
					<div class="md-list-item-content"> <span class="label pull-right">Finalizado</span>
						<h3 class="text-md">Luis Alvarado</h3> <small class="font-thin">New York, New York</small>
						<p><small class="font-thin">18/02/2016 13:01 hrs</small>
							<br><i class="fa fa-check"></i> Confirmado</p>
					</div>
				</div>
				<div class="md-list-item inset">
					<div class="md-list-item-left"> <img src="images/a4.jpg" class="w-full circle"> </div>
					<div class="md-list-item-content"> <span class="label pull-right">Finalizado</span>
						<h3 class="text-md">Roberto Ramirez</h3> <small class="font-thin">New York, New York</small>
						<p><small class="font-thin">18/02/2016 13:01 hrs</small>
							<br><i class="fa fa-check"></i> Confirmado</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row"> </div>
<script type="text/ng-template" id="myModalContent.html">
	<div ng-include="'views/profamilia/modals/sms_modal.html'"></div>
</script>