<div class="row row-sm">
	<div class="col-sm-3">
		<div class="panel panel-card">
			<div class="r-t pos-rlt" md-ink-ripple style="background:url(images/a0.jpg) center center; background-size:cover">
				<div class="p-lg bg-white-overlay text-center r-t">
					<a href class="w-xs inline"> <img src="images/a0.jpg" class="img-circle img-responsive"> </a>
					<div class="m-b m-t-sm h2"> <span class="">Jorge H.</span> </div> <a class="btn btn-sm pm-btn-blue m-b p-h no-border" href data-toggle="tab" data-target="#personal_info_edit">Editar</a>
					<p> jhernandez1989@hotmail.com </p>
				</div>
			</div>
			<div class="list-group no-radius no-border">
				<!--
        <a class="list-group-item">
          <i class="fa fa-pencil"></i> Información de pago
        </a>
-->
				<!--
        <a class="list-group-item">
          <span class="pull-right badge">23</span> Photos
        </a>
        <a class="list-group-item">
          <span class="pull-right badge">564</span> Posts
        </a>
--></div>
			<!--
      <div class="text-center b-b b-light">
        <a href class="inline m text-color">
          <span class="h3 block font-bold">221</span>
          <em class="text-xs">Followers</em>
        </a>
        <a href class="inline m text-color">
          <span class="h3 block font-bold">250</span>
          <em class="text-xs">Following</em>
        </a>
      </div>
-->
			<div class="p">
				<!--				<p>Foto de perfil</p>-->
				<p>La foto de perfil ayuda a identificarlo en caso que se encuentre en detenido.</p>
				<!--
				<div class="m-v">
					<a class="text-muted"> <i class="fa ui-icon fa-facebook"></i> </a>
					<a class="text-muted"> <i class="fa ui-icon fa-twitter"></i> </a>
					<a class="text-muted"> <i class="fa ui-icon fa-linkedin"></i> </a>
				</div>
--></div>
		</div>
	</div>
	<div class="col-sm-9">
		<div class="md-whiteframe-z0 bg-white">
			<ul class="nav nav-lines nav-tabs b-warning">
				<li class="active"> <a href data-toggle="tab" data-target="#emergency_plan">Plan familiar de contingencia</a> </li>
				<!--
				<li> <a href data-toggle="tab" data-target="#chat">Chats <span class="badge bg-warning badge-xs">5</span></a> </li>
				<li> <a href data-toggle="tab" data-target="#news_feed">News feed</a> </li>
-->
				<li> <a href data-toggle="tab" data-target="#personal_info">Información personal</a> </li>
				<li> <a href data-toggle="tab" data-target="#subscription">Pago</a> </li>
			</ul>
			<div class="tab-content p b-a no-b-t bg-white m-b-md">
				<div role="tabpanel" class="tab-pane animated fadeIn active" id="emergency_plan">
					<div class="md-list md-whiteframe-z0 bg-white m-b">
						<div class="md-list-item">
							<div class="md-list-item-left pm-bg-green"> 1 </div>
							<div class="md-list-item-content">
								<h3 class="text-md bold">¿Tiene algún padecimiento de salud?</h3> <strong>Sí</strong> </div>
						</div>
					</div>
					<div class="md-list md-whiteframe-z0 bg-white m-b">
						<div class="md-list-item">
							<div class="md-list-item-left pm-bg-green"> 2 </div>
							<div class="md-list-item-content">
								<h3 class="text-md bold">¿Tiene algún padecimiento de salud?</h3> <strong>Sí</strong> </div>
						</div>
					</div>
					<div class="md-list md-whiteframe-z0 bg-white m-b">
						<div class="md-list-item">
							<div class="md-list-item-left pm-bg-green"> 3 </div>
							<div class="md-list-item-content">
								<h3 class="text-md bold">¿Se encuentra en tratamiento médico?</h3> <strong>Sí</strong> </div>
						</div>
					</div>
					<div class="md-list md-whiteframe-z0 bg-white m-b">
						<div class="md-list-item">
							<div class="md-list-item-left pm-bg-green"> 4 </div>
							<div class="md-list-item-content">
								<h3 class="text-md bold">¿Tiene Hijos?</h3> <strong>Sí</strong> </div>
						</div>
					</div>
					<div class="md-list md-whiteframe-z0 bg-white m-b">
						<div class="md-list-item">
							<div class="md-list-item-left pm-bg-green"> 5 </div>
							<div class="md-list-item-content">
								<h3 class="text-md bold">¿Cuántos?</h3> <strong>4</strong> </div>
						</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane animated fadeIn" id="personal_info">
					<div class="card">
						<div class="card-body">
							<div class="row row-sm">
								<div class="col-sm-6">
									<div class="md-form-group">
										<input class="md-input black" disabled value="Jorge Hernández">
										<label>Nombre completo</label>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="md-form-group">
										<input class="md-input" disabled value="jhernandez1979@hotmail.com">
										<label>Email</label>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="md-form-group">
										<input class="md-input" disabled value="+569999999999">
										<label>No. celular</label>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="md-form-group">
										<input class="md-input" disabled value="99999">
										<label>ZC Habita</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane animated fadeIn" id="personal_info_edit">
					<div class="card">
						<div class="card-body">
							<div class="row row-sm">
								<div class="col-sm-6">
									<div class="md-form-group">
										<input class="md-input" value="Jorge Hernández">
										<label>Nombre completo</label>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="md-form-group">
										<input class="md-input" value="jhernandez1979@hotmail.com">
										<label>Email</label>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="md-form-group">
										<input class="md-input" value="+569999999999">
										<label>No. celular</label>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="md-form-group">
										<input class="md-input" value="99999">
										<label>ZC Habita</label>
									</div>
								</div>
								<div class="col-sm-6">
									<button class="btn btn-success" data-toggle="tab" data-target="#personal_info">Guardar</button>
									<button class="btn btn-default" data-toggle="tab" data-target="#personal_info">Cancelar</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane animated fadeIn" id="subscription">
					<div class="card">
						<div class="card-body">
							<div class="row row-sm">
								<div class="col-sm-12">
								
									<p>Su suscripción vence el <strong>19 de noviembre de 2017</strong>.</p>
								
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<select class="form-control">
											<option>Tarjeta de crédito o débito</option>
											<option>Pago referenciado</option>
											<option>Pay Pal</option>
										</select>
									</div>
								</div>
							</div>
							<div class="row row-sm">
								<div class="col-sm-6">
									<div class="md-form-group">
										<input class="md-input" value="**** **** **** 1728">
										<label>Tarjeta</label>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="md-form-group">
										<input class="md-input" value="01">
										<label>Mes de vencimiento</label>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="md-form-group">
										<input class="md-input" value="19">
										<label>Año de vencimiento</label>
									</div>
								</div>
								<div class="col-sm-6">
									<button class="btn pm-btn-blue" disabled data-toggle="tab" data-target="#personal_info">Actualizar</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane animated fadeIn" id="chat"> Chat </div>
				<div role="tabpanel" class="tab-pane animated fadeIn" id="chat"> Suscripción </div>
				<!--				<div role="tabpanel" class="tab-pane animated fadeIn" id="news_feed"> News feed </div>--></div>
			<!--
      <form>
        <textarea class="form-control no-border" rows="3" placeholder="Write something..."></textarea>
      </form>
      <div class="lt p">
        <button class="btn btn-info pull-right btn-sm p-h font-bold">Post</button>
        <ul class="nav nav-pills nav-sm">
          <li><a href><i class="fa fa-camera"></i></a></li>
          <li><a href><i class="fa fa-video-camera"></i></a></li>
        </ul>
      </div>
-->
		</div>
		<!--
    <div class="panel panel-card clearfix">
      <div class="p-h b-b b-light">
        <ul class="nav nav-lines nav-md b-info">
          <li class="active"><a href>Stream</a></li>
          <li><a href>Photos <span class="badge">3</span></a></li>
          <li><a href>Posts <span class="badge">9</span></a></li>
        </ul>
      </div>

      <div class="p-h-lg m-b-lg">      
        <div class="streamline b-l p-v m-l-xs">
          <div>
            <a class="pull-left w-32 m-l-n m-t-xs m-r">
              <img src="images/a2.jpg" class="img-responsive rounded" alt="...">
            </a>
            <div class="clear">
              <div class="m-b-xs">
                <a href>James</a> said
                <span class="text-muted block text-xs">
                  Just now
                </span>
              </div>
              <div class="m-b">
                <div>Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. ullamcorper sodales nisi nec adipiscing elit. Morbi id neque quam. Aliquam sollicitudin </div>
                <div class="m-t-sm">
                  <a href class="text-muted m-xs">Like</a>
                  <a href class="text-muted m-xs">Comment</a>
                </div>
              </div>
            </div>
          </div>

          <div>
            <a class="pull-left w-32 m-l-n m-t-xs m-r">
              <img src="images/a3.jpg" class="img-responsive rounded" alt="...">
            </a>
            <div class="clear">
              <div class="m-b-xs">
                <a href>Oscar</a> upload a file
                <span class="text-muted block text-xs">
                  3 minutes ago
                </span>
              </div>
              <div class="m-b">
                <div class="w-xl w-auto-xs">
                  <div class="box bg-light">
                    <div class="box-col w-xs text-center dk p-md v-m">
                      <i class="fa fa-file-text-o text-3x text-muted-lt"></i>
                    </div>
                    <div class="box-col p">
                      <a href>Geuismod tincidunt</a>
                      <div>Diam nonummy nibh euismod tincidunt ut laoreet. </div>
                    </div>
                  </div>
                </div>
                <div class="m-t-sm">
                  <a href class="text-muted m-xs">Like</a>
                  <a href class="text-muted m-xs">Comment</a>
                </div>
              </div>
            </div>
          </div>

          <div>
            <a class="pull-left w-32 m-l-n m-t-xs m-r">
              <img src="images/a4.jpg" class="img-responsive rounded" alt="...">
            </a>
            <div class="clear">
              <div class="m-b-xs">
                <a href>Anny</a> post a photo
                <span class="text-muted block text-xs">
                  6 minutes ago
                </span>
              </div>
              <div class="m-b">
                <div><img src="images/a10.jpg" class="b p-xs"></div>
                <div class="m-t-sm">
                  <a href class="text-muted m-xs">Like</a>
                  <a href class="text-muted m-xs">Comment</a>
                </div>
              </div>
            </div>
          </div>

          <div>
            <a class="pull-left w-32 m-l-n m-t-xs m-r">
              <img src="images/a5.jpg" class="img-responsive rounded" alt="...">
            </a>
            <div class="clear">
              <div class="m-b-xs">
                <a href>Michel</a> post a comment
                <span class="text-muted block text-xs">
                  10 minutes ago
                </span>
              </div>
              <div class="m-b bg-light">
                <div class="p-sm b-b b-white">
                  <img src="images/a4.jpg" class="rounded w-20 pull-left m-r-sm" alt="...">
                  <a href>Tony</a> liked it
                </div>
                <div class="p-sm">
                  <img src="images/a6.jpg" class="rounded w-20 pull-left m-r-sm" alt="...">
                  <a href>Anney</a> Commented it
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>--></div>
</div> <a md-ink-ripple class="md-btn md-fab md-fab-bottom-right pos-fix pm-btn-orange"><i class="mdi-editor-mode-edit i-24"></i></a>