<div class="row">
	<div class="col-sm-12">
		<h1 class="font-thin h3">News feed<span class="badge"></span></h1>
		<p class="text-muted">Noticias y actualidad.</p>
	</div>
</div>
<div class="panel panel-card">
	<div class="panel-heading">Publicaciones activas
		<ul class="nav nav-pills pull-right">
			<li><a ui-sref="app.feed_new">+ Añadir nuevo feed</a></li>
		</ul>
	</div>
	<div class="panel-body">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Fecha de publicación</th>
					<th>Título</th>
					<th>Autor</th>
					<th class="text-center">Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>18/01/2017</td>
					<td><a href="">Demócratas hispanos prometen defender a inmigrantes</a></td>
					<td>Mary Thompson</td>
					<td class="text-center"><span class="fa fa-pencil"></span> <span class="text-muted">|</span> <span class="fa fa-close"></span></td>
				</tr>
				<tr>
					<td>2</td>
					<td>14/01/2017</td>
					<td><a href="">Suprema Corte de EU niega reconsiderar alivio a indocumentados</a></td>
					<td>Mary Thompson</td>
					<td class="text-center"><span class="fa fa-pencil"></span> <span class="text-muted">|</span> <span class="fa fa-close"></span></td>
				</tr>
				<tr>
					<td>3</td>
					<td>12/01/2017</td>
					<td><a href="">Habla de una reforma migratoria 'real y justa', privilegiando los méritos y aptitudes...</a></td>
					<td>Robert Trujillo</td>
					<td class="text-center"><span class="fa fa-pencil"></span> <span class="text-muted">|</span> <span class="fa fa-close"></span></td>
				</tr>
				<tr>
					<td>4</td>
					<td>10/01/2017</td>
					<td><a href="">Mantén las precauciones necesaria</a>s</td>
					<td>Mary Thompson</td>
					<td class="text-center"><span class="fa fa-pencil"></span> <span class="text-muted">|</span> <span class="fa fa-close"></span></td>
				</tr>
				<tr>
					<td>5</td>
					<td>01/01/2017</td>
					<td><a href="">Felíz año nuevo</a></td>
					<td>Mary Thompson</td>
					<td class="text-center"><span class="fa fa-pencil"></span> <span class="text-muted">|</span> <span class="fa fa-close"></span></td>
				</tr>
			</tbody>
			<tfoot class="hide-if-no-paging">
				<tr>
					<td colspan="5" class="text-center">
						<ul class="pagination"></ul>Mostrando 5 de 5 </td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>