<div class="row">
	<div class="col-sm-12">
		<h1 class="font-thin h3">Suscripciones<span class="badge"></span></h1>
		<p class="text-muted">Consulte a todos los usuarios registrados en la aplicación.</p>
	</div>
</div>
  <div class="panel panel-card">
    <div class="panel-heading">Usuarios registrado en la aplicación móvil
		 <ul class="nav nav-pills pull-right">
			<li><a ui-sref="app.feed_new">&darr; Descargar en Excel</a></li>
		</ul>
		</div>
    <div class="panel-body">
      
    
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Fecha de inscripción</th>
          <th>Fecha de vencimiento</th>
          <th>Foto</th>
          <th>Nombre</th>
          <th>Origen</th>
          <th>Eventos</th>
          <th class="text-center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>18/01/2017</td>
          <td>18/01/2018</td>
					<td><a href class="pull-left w-40 m-r"><img src="images/a4.jpg" class="img-responsive img-circle"></a></td>
					<td><a href="">Jorge Gómez</a></td>
					<td>Phar, Texas</td>
					<td class="text-center">0</td>
          <td class="text-center"><span class="fa fa-pencil"></span> <span class="text-muted"></td>
        </tr>
        <tr>
          <td>2</td>
          <td>14/01/2017</td>
          <td>14/01/2018</td>
					<td><a href class="pull-left w-40 m-r"><img src="images/a5.jpg" class="img-responsive img-circle"></a></td>
          <td><a href="">Mike Hernández</a></td>
					<td>Queens, New York</td>
					<td class="text-center">0</td>
					<td class="text-center"><span class="fa fa-pencil"></span> <span class="text-muted"></td>
        </tr>
        <tr>
          <td>3</td>
          <td>12/01/2017</td>
          <td>12/01/2018</td>
          <td><a href class="pull-left w-40 m-r"><img src="images/a3.jpg" class="img-responsive img-circle"></a></td>
          <td><a href="">Sandra Orozco</a></td>
          <td>McAllen, Texas</td>
					<td class="text-center">0</td>
					<td class="text-center"><span class="fa fa-pencil"></span> <span class="text-muted"></td>
        </tr>
        <tr>
          <td>4</td>
          <td>10/01/2017</td>
          <td>10/01/2018</td>
					<td><a href class="pull-left w-40 m-r"><img src="images/a1.jpg" class="img-responsive img-circle"></a></td>
					<td><a href="">Mario Robles</a></td>
					<td>Orlando, Florida</td>
					<td class="text-center">1</td>
          <td class="text-center"><span class="fa fa-pencil"></span> <span class="text-muted"></td>
        </tr>
        <tr>
          <td>5</td>
          <td>01/01/2017</td>
          <td>01/01/2018</td>
					<td><a href class="pull-left w-40 m-r"><img src="images/a8.jpg" class="img-responsive img-circle"></a></td>
					<td><a href="">John Ramirez</a></td>
					<td>Los Ángeles, California</td>
					<td class="text-center">0</td>
					<td class="text-center"><span class="fa fa-pencil"></span> <span class="text-muted"></td>
        </tr>
        
      </tbody>
			<tfoot class="hide-if-no-paging">
          <tr>
              <td colspan="8"  class="text-center">
                  <ul class="pagination"></ul>Mostrando 5 de 5
              </td>
          </tr>
        </tfoot>
    </table>
  </div>
  </div>