<ion-view view-title="Inicio">
    <ion-content class="dark imageHome">
    </ion-content>
    <div style="position: absolute; bottom: 0px; width: 100%">
        <div style="text-align: center;color:white;">
          <button style="font-size:60px; bottom:40px; left:40px; position:fixed;" class="button button-icon ion-social-youtube-outline" ng-click="playVideo()"></button>
        </div>
        <div style="text-align: center;color:white;">
          <img src="{{url}}img/main.png" width="200px" style="font-size:50px; bottom:40px; right:40px; position:fixed;">
        </div>
    </div>
</ion-view>
