<div class="modal-header">
    <h3 class="modal-title">Enviar SMS</h3>
</div>
<div class="modal-body">
    
		 <form role="form">
            <h3 class="text-md"><a href="">Miguel Gómez</a></h3>
								<p><small class="font-thin">Ubicación: <strong>México</strong></small></p>
								<p><small class="font-thin">Teléfono: <strong>5577383838</strong></small></p>
								<p><small class="font-thin">Parentesco: <strong>Familia</strong></small></p>
								<blockquote> Llamar a mi hermano y avisarle que se comunique con mi amigo Luis y avise a mi mamá que estoy bien </blockquote>
            <div class="form-group">
              <label for="exampleInputPassword1">Mensaje (140 caracteres)</label>
<!--              < type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">-->
							<textarea class="form-control" rows="4"></textarea>
            </div>
           
            <button type="submit" class="btn btn-success m-b">Enviar SMS</button>
          </form>
</div>
<div class="modal-footer">                  
    <button class="btn btn-default" ng-click="cancel()">Cerrar</button>
<!--    <button class="btn btn-primary" ng-click="ok()">OK</button>-->
</div>
