<ion-view view-title="Plan familiar de contingencia">
	<ion-content>
<!--		<div class="bar bar-subheader bar-stable static text-center"> <strong class="title">Este es tu plan de contingencia</strong> </div>-->
		
		<div class="im-wrapper">
			<h4><i class="icon ion-android-people"></i> Familiares registrados</h4>
			<p>En caso de que actives la alarma de ayuda ejecutaremos este <strong>plan de contingencia</strong> manten actualizada esta información.</p>
			<div class="list card stable-bg">
				<div class="item item-avatar"> <img src="img/jon-snow.jpg">
					<h2>Miguel Gómez</h2>
					<p>San Luis Potosí, México</p>
				</div>
				<div class="item item-body"> Llamar a mi hermamo y avisarle que se comunique con mi amigo Luis y avise a mi mamá que estoy bien.
					<p> <a class="subdued">Relación:</a> <a class="subdued">Hermano</a> </p>
				</div>
				<div class="item tabs tabs-secondary tabs-icon-left">
					<a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5"> <i class="icon ion-ios-telephone"></i> +52 4366283658 </a>
					<a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5"> <i class="icon ion-edit"></i> Editar </a>
				</div>
			</div>
			<div class="list card stable-bg">
				<div class="item item-avatar"> <img src="img/tyrion.jpg">
					<h2>Mario Pérez Hernández</h2>
					<p>Michoacán, México</p>
				</div>
				<div class="item item-body"> Pedir que retire dinero de la cuenta de ahorro y enviar a primo Luis.
					<p> <a class="subdued">Relación:</a> <a class="subdued">Padre</a> </p>
				</div>
				<div class="item tabs tabs-secondary tabs-icon-left">
					<a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5"> <i class="icon ion-ios-telephone"></i> Llamar </a>
					<a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5"> <i class="icon ion-edit"></i> Editar </a>
				</div>
			</div>
			
			<button class="button button-block button-balanced ink" data-ink-color="#9DEAFF" data-ink-opacity="1">
                    Añade un familiar
                </button>
			<br>
			<br>
			<br>
			<br>
			
		
		</div>
	</ion-content>
</ion-view>