<ion-view view-title="Ayuda y soporte">
	<ion-content>
		<div class="bar bar-subheader bar-stable static text-center"> <strong class="title">xTuFamilia</strong> </div>
		<div class="im-wrapper">
			<!-- Ionic Components -->
			<h4 class="border-top">
                <i class="icon ion-help-circled"></i>
                ¿Cómo funciona?
            </h4>
			<p><strong>xTuFamilia</strong> está pensada para <strong>todos los hermanos migrantes</strong> que se encuentran en Estados Unidos buscando obtener mejor calidad de vida.</p>
			<div class="list">
				<a class="item item-icon-left"> <i class="icon ion-ios-bell"></i> Activa tu alarma </a>
				<a class="item item-icon-left"> <i class="icon ion-ios-telephone"></i> Recibe soporte telefónico al 1-800 </a>
				<a class="item item-icon-left"> <i class="icon ion-person-stalker"></i> Servicio de abogado. </a>
				<a class="item item-icon-left"> <i class="icon ion-ios-book"></i> Recibe apoyo consultar.</a>
				<a class="item item-icon-left"> <i class="icon ion-android-people"></i> Nos comunicaremos con tu familia. </a>
			</div>
			<h4 class="border-top">
                <i class="icon ion-help-circled"></i>
                Plan de contingencia familiar
            </h4>
			
			<p>El <strong>Plan de contigencia familiar</strong> funciona para que los agentes de <strong>xTuFamilia</strong> puedan contactar a tus familiares y dar instrucciones que tu hayas dejado <a ng-href="#/app/contingency_plan"><strong>administra tu plan aquí</strong></a>.</p>
			<h4 class="border-top">
                <i class="icon ion-help-circled"></i>
                Preguntas frecuentas
            </h4>
			
			<p><strong>¿El servicio tiene costo?</strong></p>
			<p><em>El servicio sí tiene costo. Es una subscripción anual que te permitirá estar protegido.</em></p>
			
			<p><strong>¿Cómo funciona servicio de abogado?</strong></p>
			<p><em>El servicio de abogado te servirá para proteger tus derechos.</em></p>
			<p><strong>¿Solo puedo registrar familiares en mi plan de contingencia?</strong></p>
			<p><em>No, podrás añadir a amigos, familiares o conocidos.</em></p>
		</div>
	</ion-content>
</ion-view>