<ion-slides options="data.sliderOptions" slider="data.sliderDelegate">
	<ion-slide-page>
		<div class="box">
			<div class="im-wrapper">
				<p class="text-center"><img class="item" src="img/intro/1.png"></p>
				<h4 class="text-center">Riesgo de deportación</h4>
				<p class="text-center">Si te encuentras en peligro de deportación emite alertas a tus contactos seleccionados, abogado y consulado en tiempo real para obtener un seguimiento  de ayuda y si es necesario, ejecutar  tu plan de contingencia.o.</p>
			</div>
		</div>
	</ion-slide-page>
	<ion-slide-page>
		<div class="box">
			<div class="im-wrapper">
				<p class="text-center"><img class="item" src="img/intro/2.png"></p>
				<h4 class="text-center">Botón de Pánico</h4>
				<p class="text-center">Envía tus coordenadas al momento de detonar el botón de pánico a tus contactos seleccionados, abogado y consulado, lo cual facilita y ahorra tiempo ante una acción de respuesta especifica</p>
			</div>
		</div>
	</ion-slide-page>
	<ion-slide-page>
		<div class="box">
			<div class="im-wrapper">
				<p class="text-center"><img class="item" src="img/intro/3.png"></p>
				<h4 class="text-center">Contratación fácil</h4>
				<p class="text-center">Contratar te lleva 3 sencillos pasos. Paga - Crea tu perfil - Haz tu plan de contingencia. ¡No estas solo!</p>
				<button id="start_button" class="button button-block button-balanced" ng-click="goTo('login')"> COMENZAR </button>
			</div>
		</div>
	</ion-slide-page>
</ion-slides>

