<ion-slides options="data.sliderOptions" slider="data.sliderDelegate">
	<ion-slide-page>
		<div class="box">
			<div class="im-wrapper">
				<p class="text-center"><img class="item" src="img/intro/1.png"></p>
				<h4 class="text-center">Te sientes amenazado con la migra</h4>
				<p class="text-center">Ves a un agente migratorio o una redada o te sientas en peligro de ser deportado.</p>
			</div>
		</div>
	</ion-slide-page>
	<ion-slide-page>
		<div class="box">
			<div class="im-wrapper">
				<p class="text-center"><img class="item" src="img/intro/2.png"></p>
				<h4 class="text-center">Presiona la botón de ayuda</h4>
				<p class="text-center">Este enviará tu información y geolocalización a nuestro centro de soporte</p>
			</div>
		</div>
	</ion-slide-page>
	<ion-slide-page>
		<div class="box">
			<div class="im-wrapper">
				<p class="text-center"><img class="item" src="img/intro/3.png"></p>
				<h4 class="text-center">Nosotros te ayudamos</h4>
				<p class="text-center">Nuestros agentes te ayudarán con apoyo legal, consular y se comunicarán con tu familia.</p>
				<button id="start_button" class="button button-block button-balanced" ng-click="goTo('login')"> COMENZAR </button>
			</div>
		</div>
	</ion-slide-page>
</ion-slides>

