<ion-view view-title="Subscripción">
	<ion-content>
		<div class="bar bar-subheader bar-stable static text-center"> <strong class="title">Mantenga actualizada su información</strong> </div>
		<div class="im-wrapper">
			<h4 class="border-top"><i class="icon ion-ios-person"></i> Información personal</h4>
			
			<ion-list>
            <ion-item nav-clear menu-close class="item-icon-right item-avatar">
                <img src="img/arya.jpg">
                <h2>Jorge Hernández</h2>
                <p>Phar, Texas</p>
                <p>+447 38 7699 7889</p>
                <p>jornan_28@hotmail.com</p>
                <i class="icon ion-ios-arrow-right muted"></i>
            </ion-item>
            
        </ion-list>
			<h4 class="border-top"><i class="icon ion-ios-person"></i> Subscripción</h4>
			
		<div class="list">
                <a class="item item-icon-left">
                    <i class="icon ion-ios-checkmark-outline"></i> Subscripción
									<span class="badge badge-balanced">activa</span>
                </a>
                <a class="item item-icon-left">
                    <i class="icon ion-ios-calendar-outline"></i> Fecha de vencimiento
                    <span class="item-note">
                        19/Marzo/2018
                    </span>
                </a>
                <a class="item item-icon-left">
                    <i class="icon ion-card"></i> Forma de pago
                    <span class="item-note">
                        ***1928
                    </span>
                </a>
            </div>
			
			
		
			<h4 ng-if="!show_timer" class="border-top"><i class="icon ion-android-people"></i> Plan familiar de contingencia</h4>
			<p>En caso de que actives la alarma de ayuda ejecutaremos este <strong>plan de contingencia</strong> manten actualizada esta información ya que es importante.</p>
			<div class="list card stable-bg">
				<div class="item item-avatar"> <img src="img/jon-snow.jpg">
					<h2>Miguel Gómez</h2>
					<p>San Luis Potosí, México</p>
				</div>
				<div class="item item-body"> Llamar a mi hermamo y avisarle que se comunique con mi amigo Luis y avise a mi mamá que estoy bien.
					<p> <a class="subdued">Relación:</a> <a class="subdued">Hermano</a> </p>
				</div>
				<div class="item tabs tabs-secondary tabs-icon-left">
					<a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5"> <i class="icon ion-ios-telephone"></i> +52 4366283658 </a>
					<a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5"> <i class="icon ion-edit"></i> Editar </a>
				</div>
			</div>
			<div class="list card stable-bg">
				<div class="item item-avatar"> <img src="img/tyrion.jpg">
					<h2>Mario Pérez Hernández</h2>
					<p>Michoacán, México</p>
				</div>
				<div class="item item-body"> Pedir que retire dinero de la cuenta de ahorro y enviar a primo Luis.
					<p> <a class="subdued">Relación:</a> <a class="subdued">Padre</a> </p>
				</div>
				<div class="item tabs tabs-secondary tabs-icon-left">
					<a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5"> <i class="icon ion-ios-telephone"></i> Llamar </a>
					<a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5"> <i class="icon ion-edit"></i> Editar </a>
				</div>
			</div>
			
<!--			<p class="text-muted text-center">Toda esta información es personal e intrasferible.</p>-->
			
		</div>
		
		

	</ion-content>
</ion-view>