<ion-view view-title="Demócratas hispanos prometen defender a inmigrantes">
	<ion-content>
				<div class="bar bar-subheader bar-stable static text-center" ng-click="goTo('app.news_feed')"> <strong class="title">04/Enero/2017</strong> </div>
		<div class="box">
			<div class="im-wrapper">
				<p class="text-center"><img class="item" src="img/news/news-1.jpg"></p>
				<h4>Demócratas hispanos prometen defender a inmigrantes</h4>
				<p><strong>WASHINGTON, ESTADOS UNIDOS (04/ENE/2017)</strong>- La primera latina en llegar al Senado y el primer inmigrante no autorizado que resulta electo al Congreso estadounidense dijeron que buscarán una reforma migratoria integral tras juramentarse el martes en sus respectivos escaños.</p>
				<p>La senadora por Nevada, Catherine Cortez Masto, y el congresista neoyorquino Adriano Espaillat —ambos demócratas— integran la mayor representación hispana en ambas cámaras del Congreso norteamericano, las cuales instalaron el martes una sesión legislativa que culminará en diciembre de 2018. </p>
				<p> Cortez Masto, de ancestros mexicanos e italianos, dijo que la reforma migratoria será una de sus prioridades junto a seguridad financiera para familias trabajadoras, incremento del salario mínimo y educación universitaria a bajo costo. </p>
				<blockquote> "Continuaré luchando y usaré cada recurso aquí en el Senado para abordar el tema y seguir peleando por una reforma migratoria integral", dijo a reporteros. </blockquote>
				<p> Cortez calificó como "crucial" su presencia como hispana en el Senado porque "es importante tener una voz diversa en la mesa y usarla. Es muy emocionante". </p>
				<p> La nieta de mexicano integrará seis comisiones: la bancaria, de vivienda y asuntos urbanos; la de energía y recursos naturales; la de comercio, ciencia y transporte; la de reglamentos; la de asuntos indígenas y la dedicada a la tercera edad. </p>
				<p> Cortez, quien se desempeñó recientemente como procuradora de Justicia de Nevada, se sumará en el Senado a tres hombres hispanos de ascendencia cubana: los republicanos Marco Rubio y Ted Cruz y el demócrata Bob Menéndez.
					<p> El representante Adriano Espaillat, el primer dominicano que resulta electo a la cámara de representantes, dijo tras juramentarse que la reforma migratoria "es un tema personal" y que van "a luchar para que se dé eventualmente". </p>
					<p> El presidente electo, Donald Trump, ofreció durante su campaña electoral deportar a los 11 millones de inmigrantes que residen sin autorización en Estados Unidos, construir un muro fronterizo a lo largo de la frontera con México y anular los alivios migratorios adoptados por el presidente Barack Obama, que actualmente protegen de la deportación a casi un millón de inmigrantes traídos sin autorización por sus padres cuando eran niños. </p>
					<p> Cuando Trump asuma la presidencia el 20 de enero, encontrará que su partido republicano controlará ambas cámaras del congreso. </p>
					<blockquote> "Estamos en esta encrucijada: seguimos como una nación benevolente y de esperanza, o nos convertimos en una nación agresiva e intolerante", dijo Espaillat ante centenares de dominicanos que lo aplaudían con banderas en un amplio salón del complejo legislativo. </blockquote>
					<p> El nuevo líder de la bancada demócrata en el Senado, el también neoyorquino Chuck Schumer, acudió a la ceremonia y señaló que Espaillat es el primer congresista que ha estado indocumentado. </p>
					<p> "Así que les digo a todos los indocumentados: Tengan fe. Tengan esperanza. Cosas buenas les van a ocurrir y no permitiremos que les hagan daño", dijo Schumer. "Al ser de Nueva York sé la importancia de la diversidad y de la migración. No voy a permitir que Donald Trump u otro republicano atropelle los derechos de nuestros inmigrantes". </p>
					<p> A los nueve años de edad, Espaillat arribó a Estados Unidos con su familia en 1963 con una visa de turista que expiró, y estuvo dos años sin autorización para vivir en el país hasta que familiares lograron regularizar su situación.</p>
					<div class="item tabs tabs-secondary tabs-icon-left">
						<a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5"> <i class="icon ion-thumbsup"></i> Like </a>
						<a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5"> <i class="icon ion-share"></i> Compartir </a>
					</div>
				<br>
				<br>
				<br>
				<br>
				<br>
			</div>
		</div>
	</ion-content>
</ion-view>