<ion-header-bar align-title="left" class="pm-bar-blue">
	<div class="buttons buttons-left header-item" ng-click="goTo('subscription_type')"><span class="left-buttons">
				<button class="button button-icon button-clear ion-ios-arrow-back"></button>
			</span></div>
	<h1 class="title">Opciones de pago</h1>
</ion-header-bar>

<ion-view>
	<ion-content>
		<div class="bar bar-subheader pm-bar-orange static text-center"> <strong class="title">Ingrese sus datos de pago</strong> </div>
		<div class="im-wrapper">

			<div class="list">

				<div class="item item-divider">
					Elija el tipo de compra:
				</div>

				<ion-radio ng-repeat="item in purchase_types" ng-value="item.value" ng-model="data.purchase_type">
					{{ item.text }} 
				</ion-radio>



			</div>
			<div class="list">
				<div class="item item-divider">
					¿Cuenta con un código promocional?
				</div>
			</div>
			<div class="list">
				<label class="item item-input item-stacked-label" style="padding:0px;"> 
					<input type="text" style="padding: 14px;" class="pm-input" placeholder="Ingrese código promocional"> </label>
				<button class="button button-small button-block" style="margin-top:-8px">Validar código</button>
			</div>
			<div class="list">
				<div class="item item-divider">
					Mecanismo de pago:
				</div>

				<ion-radio ng-repeat="item in payment_choises" ng-value="item.value" ng-model="data.payment_choise" ng-change="serverSideChange(item)" name="server-side">
					<i class="ion {{item.icon}}"></i> {{ item.text }}
				</ion-radio>
			</div>
			
			<div class="list" ng-if="data.payment_choise == 'credit'">
				<h4 class="border-top">
                <i class="icon ion-card"></i>
                Datos de su tarjeta
            </h4>
				<label class="item item-input item-floating-label"> <span class="input-label">Número de tarjeta</span>
					<input type="text" placeholder="Número de tarjeta"> </label>
				<label class="item item-input item-select">
					<div class="input-label"> Mes de vencimiento </div>
					<select>
						<option>01</option>
						<option>02</option>
						<option>03</option>
						<option>04</option>
						<option>05</option>
						<option>06</option>
						<option>07</option>
						<option>08</option>
						<option>09</option>
						<option>10</option>
						<option>11</option>
						<option>12</option>
					</select>
				</label>
				<label class="item item-input item-select">
					<div class="input-label"> Mes de vencimiento </div>
					<select>
						<option>2013</option>
						<option>2014</option>
						<option>2015</option>
						<option>2016</option>
						<option>2017</option>
						<option>2018</option>
						<option>2019</option>
						<option>2020</option>
						<option>2021</option>
					</select>
				</label>
				<label class="item item-input item-floating-label"> <span class="input-label">CCV</span>
					<input type="number" placeholder="CCV"> </label>
				<br />
				<button id="start_button" class="button button-block pm-button-blue" ng-click="showConfirmation()"> Pagar </button>
				<br>
				<br>
				<br>
				<br> </div>
			
			<br>
			<br>
			<br>
			<br>
			<br>

		</div>

	</ion-content>
</ion-view>


