<ion-view view-title="Plan familiar de contingencia">
	<ion-content>
<!--		<div class="bar bar-subheader pm-bar-green static text-center"> <strong class="title">COMPLETA TU REGISTRO</strong> </div>-->
		
		<div class="im-wrapper">
<!--			<h4><i class="icon ion-android-people"></i> Plan de Contingencia</h4>-->
			<p>Representa la oportunidad de que ante el hecho de una detención y probable deportación, tengas la tranquilidad que tu voluntad y decisión sobre temas relevantes de tu vida, sean del conocimiento de tu familia o personas de interés a través de tus contactos registrados.</p>
			
			<p>Si requieres consultar el estatus de de plan familiar de contingencia  pulsa el siguiente enlacenuevamente tu plan familiar de contingencia pulsa el botón e inmediatamente te será enviado a tu dirección de correo electrónico registrada</p>
			<p class="text-center"><strong> El estatus de su plan familiar de contingencia es:</strong></p>
				<button id="start_button" style="margin-top:-10px" class="button button-block pm-button-green ion-checkmark"> COMPLETO Y ACTIVO</button>
			
			
			
			
			
			<p>Si requieres consultar nuevamente tu plan familiar de contingencia pulsa el botón e inmediatamente te será enviado a tu dirección de correo electrónico registrada.</p>
			<button id="start_button" style="margin-top:-10px" class="button button-block button-small pm-button-blue ion-email"> ENVIAR PLAN A EMAIL</button>
			
			<p>Si requieres actualizar la informacion de tu plan familiar de contingencia comunícate al centro de atención y reacción promigrante.</p>
			<button id="start_button" style="margin-top:-10px" class="button button-block button-small  ion-ios-telephone"> CENTRO DE ATENCIÓN</button>
			<hr>
			
			<p class="text-center"><strong> El estatus de su plan familiar de contingencia es:</strong></p>
				<button id="start_button" style="margin-top:-10px" class="button button-block button-assertive ion-close"> NO EXISTENTE INACTIVO</button>
		
				<p>Comunícate lo antes posible al centro de atención y reacción promigrante para que de forma rápida y sencilla integres tu plan familiar de contingencia</p>
<button id="start_button" style="margin-top:-10px" class="button button-block pm-button-green button-small  ion-ios-telephone"> CENTRO DE ATENCIÓN</button>
			
<!--
			<h4>Preguntas de seguridad</h4>
			
			<div class="list">
					<label class="item item-input item-stacked-label"> <span class="input-label">1. ¿Fecha de nacimiento?</span>
						<input type="date" style="padding: 14px;" class="pm-input"> </label>
					<label class="item item-input item-stacked-label"> <span class="input-label">2. ¿Nombre de madre?</span>
						<input type="text" style="padding: 14px;" class="pm-input" placeholder=""> </label>
				</div>
			
			
			<h4>Registro de contactos</h4>
			<div class="list card stable-bg">
				<div class="item">
					<h2>Miguel Gómez</h2>
					<p>México</p>
				</div>

				<div class="item tabs tabs-secondary tabs-icon-left">
					<a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5"  href="tel:555-555-5555"> <i class="icon ion-ios-telephone"></i> Llamar </a>
					<a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5" ng-click="goTo('app.contingency_plan_edit')"> <i class="icon ion-compose"></i> Editar </a>
				</div>
			</div>
			
			<div class="list card stable-bg">
				<div class="item"> 
					<h2>Mario Pérez Hernández</h2>
					<p>Estados Unidos</p>
				</div>

				<div class="item tabs tabs-secondary tabs-icon-left">
					<a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5" href="tel:555-555-5555"> <i class="icon ion-ios-telephone"></i> Llamar </a>
					<a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5" ng-click="goTo('app.contingency_plan_edit')"> <i class="icon ion-compose"></i> Editar </a>
				</div>
			</div>
			
			<div class="list card stable-bg">
			

				<div class="item tabs tabs-secondary tabs-icon-left">
					
					<a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5" ng-click="goTo('app.contingency_plan_edit')"> <i class="icon ion-ios-plus-outline"></i> Nuevo contacto </a>
				</div>
			</div>
			

			
			
			<h4 class="border-top">Cuestionario de Plan de contingencia familiar</h4>
			
			<button class="button button-block button-balanced ink" data-ink-color="#9DEAFF" data-ink-opacity="1" ng-click="goTo('app.contingency_plan_survey')">
                    Completar ahora
                </button>
			<p><strong>Ante una situación crítica</strong> cuentas con procedimientos alternativos para tus contactos seleccionados, <strong>cuyo fin es una reacción especifica ante alguna detención</strong>. El plan de contingencia es un método preventivo, el cual da un avance a la hora de una eventualidad. Tu plan de contingencia hace cara a futuros acontecimientos para los que hace falta estar preparado.</p>
-->
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			
		
		</div>
	</ion-content>
</ion-view>