<ion-view view-title="Cuestionario">
	<ion-content>
		<div class="bar bar-subheader pm-bar-green static text-center"> <strong class="title">RESPONDA LAS SIGUIENTES PREGUNTAS</strong> </div>
		
		<div class="im-wrapper">
<!--			<h4><i class="icon ion-android-people"></i> Plan de Contingencia</h4>-->
<!--			<p>Ante una situación crítica cuentas con procedimientos alternativos para tus contactos seleccionados, cuyo fin es una reacción especifica ante alguna detención. El plan de contingencia es un método preventivo, el cual da un avance a la hora de una eventualidad. Tu plan de contingencia hace cara a futuros acontecimientos para los que hace falta estar preparado.</p>-->
			
			
			<h4>Preguntas de seguridad</h4>
			
			<div class="list">
				
				<label class="item item-input item-select">
					<div class="input-label bold"> ¿Tiene algún padecimiento de salud? </div>
					
					<select>
						<option>Si</option>
						<option selected>No</option>
					</select>
				</label>
				<label class="item item-input item-select">
					<div class="input-label bold"> ¿Toma algún medicamento? </div>
					<select>
						<option>Si</option>
						<option selected>No</option>
					</select>
				</label>
				<label class="item item-input item-select">
					<div class="input-label bold"> ¿Se encuentra en tratamiento médico? </div>
					<select>
						<option>Si</option>
						<option selected>No</option>
					</select>
				</label>
				<label class="item item-input item-select">
					<div class="input-label bold"> ¿Tiene Hijos? </div>
					<select>
						<option>Si</option>
						<option selected>No</option>
					</select>
				</label>
				
				
			
			</div>
			
			
			<button class="button button-block button-balanced ink" data-ink-color="#9DEAFF" data-ink-opacity="1" ng-click="goTo('app.contingency_plan')">
                    Guardar
                </button>
			
			
			<br>
			<br>
			
			<br>
			
		
		</div>
	</ion-content>
</ion-view>