<ion-view view-title="Llamada efectiva">
	<ion-content>
		<!--<div class="bar bar-subheader pm-bar-orange static text-center"> <strong class="title">ProMigrante</strong> </div>-->
		<div class="im-wrapper">
			<p>Estimado Jorge Hernández. De acuerdo a la estipulación normativa XXXXX-XX, en caso de que seas detenido por autoridades migratorias, tienes derecho a realizar una llamada telefónica de 2 minutos de duración.</p>
			<p>Si te encuentras en situación de riesgo de detención o ya en tu poceso de detención, comunícate al:</p>
			<a href="tel:18009999999">
				<button id="start_button" style="margin-top:-10px" class="button button-block pm-button-blue icon balanced ion-ios-telephone-outline"> 01 800 HELP (999 9999) </button>
			</a>
			<p>De manera inmediata, tu llamada se convierte en:</p>
			<div class="row" style="margin-top:-30px">
				<div class="col col-20"><i class="ion-checkmark-round"></i></div>
				<div class="col col-80"><p>Llamadas a tus contactos registrados.</p></div>
			</div>
			<div class="row" style="margin-top:-30px">
				<div class="col col-20"><i class="ion-checkmark-round"></i></div>
	
				<div class="col col-80"><p>Llamada al consulado de méxico en XXXXXXX.</p></div>
			</div>
			<div class="row" style="margin-top:-30px">
				<div class="col col-20"><i class="ion-checkmark-round"></i></div>
		
				<div class="col col-80"><p>Llamada y enlace para tu asistencia personal de un abogado de la red de tu servicio (verificando disponibilidad)</p></div>
			</div>
			<p>Verifica tus contactos registrados para que siempre mantengas actualizada esta información:</p>
			<p>Verifica el zip code de tu lugar de residencia, ya que la asistencia personal del abogado y del consulado depende de su veracidad.</p>
			<button class="button button-small button-block pm-button-blue" style="margin-top:-8px">Verifica aquí</button>
<!--
			<div class="list">
				<label class="item item-input item-stacked-label" style="padding:0px;">
					<input type="text" style="padding: 14px;" class="pm-input" placeholder="Ingrese código"> </label>
				<button class="button button-small button-block" style="margin-top:-8px">Validar ZIP CODE</button>
			</div>
-->
			<br>
			<br>
			<br>
			<br>
			<br> </div>
	</ion-content>
</ion-view>