<ion-view view-title="Llamada efectiva">
	<ion-content>
<!--<div class="bar bar-subheader pm-bar-green static text-center"> <strong class="title">ProMigrante</strong> </div>-->
		<div class="im-wrapper">
		<p>ESTIMADO XXXX. DE ACUERDO A LA ESTIPULACIÓN NORMATIVA XXXXXXXX, EN CASO DE QUE SEAS DETENIDO POR AUTORIDADES MIGRATORIAS , TIENES DERECHO A REALIZAR UNA LLAMADA TELEFÓNICA DE 2 MINUTOS DE DURACIÓN</p>
			
			<p>SI TE ENCUENTRAS EN SITUACIÓN DE RIESGO DE DETENCIÓN O YA EN TU POCESO DE DETENCIÓN, COMUNÍCATE AL</p>
			
			<a href="tel:18009999999">
				<button id="start_button" style="margin-top:-10px" class="button button-block pm-button-green icon balanced ion-ios-telephone-outline"> 01 800 HELP (999 9999) </button>
			</a>
			
			<p>DE MANERA INMEDIATA, TU LLAMADA SE CONVIERTE EN:</p>

			<ion-list>
				<ion-item>LLAMADAS A TUS TRES CONTACTOS REGISTRADOS</ion-item>
				<ion-item>LLAMADA AL CONSULADO DE MÉXICO EN XXXXXXX</ion-item>
				<ion-item>LLAMADA Y ENLACE PARA TU ASISTENCIA PERSONAL DE UN ABOGADO DE LA RED DE TU SERVICIO (VERIFICANDO DISPONIBILIDAD)</ion-item>
			</ion-list>
			
			<p>VERIFICA TUS CONTACTOS REGISTRADOS PARA QUE SIEMPRE MANTENGAS ACTUALIZADA ESTA INFORMACIÓN:</p>
			<p>VERIFICA EL ZIP CODE DE TU LUGAR DE RESIDENCIA, YA QUE LA ASISTENCIA PERSONAL DEL ABOGADO Y DEL CONSULADO DEPENDE DE SU VERACIDAD</p>
			
			<div class="list">
				<label class="item item-input item-stacked-label" style="padding:0px;"> 
					<input type="text" style="padding: 14px;" class="pm-input" placeholder="Ingrese código"> </label>
				<button class="button button-small button-block" style="margin-top:-8px">Validar ZIP CODE</button>
			</div>
			
			<br>
			<br>
			<br>
			<br>
			<br>
		
		</div>
	</ion-content>
</ion-view>