<ion-view view-title="Contacto: dudas, quejas y sugerencias">
	<ion-content>
		<div class="bar bar-subheader pm-bar-orange static text-center"> <strong class="title">¿Algunda duda, queja o aclaración?</strong> </div>
		<div class="im-wrapper">
			<!-- Ionic Components -->
			<h4 class="border-top">
                Contáctanos 
            </h4>
			<button id="start_button" class="button button-block pm-button-blue ion-chatbubble-working" ng-click="goTo('app.chat_conversation')"> Chat en línea </button>
			<a href="tel:18009999999">
				<br>
				<br>
				<button id="start_button" style="margin-top:-10px" class="button button-block pm-button-blue icon balanced ion-ios-telephone-outline"> Llamar al Call Center </button>
				
			</a>
			<br>
				<br>
				<button id="start_button" style="margin-top:-10px" class="button button-block pm-button-orange icon balanced ion-email"> Escríbenos </button>
			
			
			<h4 class="border-top">
                Tienes alguna Queja  
            </h4>
			
			<button id="start_button" class="button button-block ion-chatbubble-working" ng-click="goTo('app.chat_conversation')"> Chat en línea </button>
			
			<button id="start_button" class="button button-block button-calm ion-chatbubble-working"> Levantar queja en línea </button>
			<br>
			<br>
			<br>
			<br>
		</div>
	</ion-content>
</ion-view>