<ion-slides options="data.sliderOptions" slider="data.sliderDelegate">
	<ion-slide-page>
		<div class="box">
			<div class="im-wrapper">
				<ion-nav-bar class="pm-bar-blue"> &nbsp;</ion-nav-bar>
				
				<br>
				<br>
				<p class="text-center"><img style="border:none;" src="img/intro/1.png"></p>
				<h4 class="text-center" style="color:#ee5923;">¿TE ENCUENTRAS EN RIESGO DE DEPORTACIÓN?</h4>
				<p class="text-center">Con Pro<span style="color:#ee5923;">migrante</span> emites alertas en tiempo real para obtener un seguimiento de ayuda, y si es necesario, ejecutar tu plan de contingencia.</p>
			</div>
		</div>
	</ion-slide-page>
	<ion-slide-page>
		<div class="box">
			<div class="im-wrapper">
				<ion-nav-bar class="pm-bar-blue"> &nbsp;</ion-nav-bar>
				
				<br>
				<br>
				
				<p class="text-center"><img style="border:none;" src="img/intro/2.png"></p>
				<h4 class="text-center" style="color:#ee5923;">DETONA EL BOTÓN DE PÁNICO</h4>
				<p class="text-center">Envía tus coordenadas a tus contactos seleccionados, abogado y consulado; facilita y ahorra tiempo ante una acción de respuesta específica..</p>
			</div>
		</div>
	</ion-slide-page>
	<ion-slide-page>
		<div class="box">
			<div class="im-wrapper">
				<ion-nav-bar class="pm-bar-blue"> &nbsp;</ion-nav-bar>
				
				<br>
				<br>
				
				<p class="text-center"><img style="border:none;" src="img/intro/3.png"></p>
				<h4 class="text-center" style="color:#ee5923;">CONTRÁTALO</h4>
					<p class="text-center">Contratar este servicio te toma tres sencillos pasos. Haz tu plan de contingencia.
<br> <strong>¡No estas solo!</strong></p>
				<button id="start_button" class="button button-block pm-button-blue icon balanced" ng-click="goTo('login')"> COMENZAR </button>
			</div>
		</div>
	</ion-slide-page>
</ion-slides>