<div class="im-wrapper bglogin">
	<br>
	<p class="text-center"><img src="img/logo-login.png" width="210" ng-click="goTo('intro')"></p>
	<p class="text-center"><small>Demo: 7.Abril.2017</small></p>
	<div class="list">
		<label class="item item-input item-floating-label"> <span class="input-label">Usuario</span>
			<input type="text" placeholder="Usuario / Correo electrónico"> </label>
		<label class="item item-input item-floating-label"> <span class="input-label">Contraseña</span>
			<input type="password" placeholder="Contraseña"> </label>
		
<!--
		<div class="item item-checkbox">
			<label class="checkbox">
				<input type="checkbox"> </label> Acepto los términos y condiciones. </div>
		<br />
-->
		<button class="button button-block pm-button-orange ink" ng-click="goTo('app.panic')" data-ink-color="#9DEAFF" data-ink-opacity="1"> Entrar </button>
	</div>
<!--	<button class="button button-block  icon balanced" data-ink-color="#9DEAFF" data-ink-opacity="1"> Suscribirse </button>-->
	
<div  id="btnCancelAlarm" ng-click="goTo('subscribe')" class="bar bar-footer pm-button-blue ink-dark">
		<div class="title">¡Prueba el servicio!</div>
	</div>
</div>
	