<div class="im-wrapper">
	<br>
	<p class="text-center"><img src="img/logo-login.png" width="210" ng-click="goTo('intro')"></p>

	<form>
		<div class="list">
			<label class="item item-input item-floating-label"> <span class="input-label">Usuario</span>
			<input type="text" ng-model="account.username" placeholder="Usuario / Correo electrónico"> </label>
			<label class="item item-input item-floating-label"> <span class="input-label">Contraseña</span>
			<input type="password" ng-model="account.password" placeholder="Contraseña"> </label>


			<button class="button button-block pm-button-orange ink" ng-click="sendLogin()" data-ink-color="#9DEAFF" data-ink-opacity="1"> Entrar </button>
		</div>
	</form>
	
	<div ng-click="goTo('subscribe')" class="bar bar-footer pm-button-blue ink-dark">
		<div class="title">¡Prueba el servicio!</div>
	</div>
</div>
