<ion-view view-title="Llamadas ilimitadas">
	<ion-content>
		<div class="im-wrapper">
			<p><strong>Desde teléfonos fijos:</strong></p>
			<p>1º. Marca el numero de acceso.
				<br>2º. Marca tu PIN seguido de #
				<br>3º. Marca el número al que deseas llamar:</p>
			<p><strong>Desde teléfonos Celular:</strong></p>
			<p>1º. Marca el número de acceso. La llamada se cortará para NO generar cargos.
				<br>2º. En menos de 10 segundos se devolverá la llamada solicitando que marques tu PIN seguido de #
				<br>3º. Marca el número al que desea llamar</p>
			<p><strong>Desde USA A USA:</strong> 1+area+número+#
			<p><strong>A México fijos:</strong> 52+area+número+# </p>
			<p><strong>A México móviles:</strong> 52+1+area+número+# </p>
		</div>
	</ion-content>
</ion-view>