<ion-view view-title="Llamadas ilimitadas">
	<ion-content>
		<div class="im-wrapper">
			<p>Desde teléfonos fijos: 1º. Marca el numero de acceso. 2º. Marca tu PIN seguido de # 3º. Marca el número al que deseas llamar: Desde teléfonos Celular: 1º. Marca el número de acceso. La llamada se cortará para NO generar cargos. 2º. En menos de 10 segundos se devolverá la llamada solicitando que marques tu PIN seguido de # 3º. Marca el número al que desea llamar: Desde USA A USA: 1+area+número+# A México fijos: 52+area+número+# A México móviles: 52+1+area+número+# </p>
		</div>
	</ion-content>
</ion-view>