
<ion-view view-title="Notificaciones">
    <ion-content>
        <div class="im-wrapper">
            <strong>Notificaciones recibidas</strong>
        </div>
        <ion-list class="animate-ripple">
            <ion-item nav-clear menu-close class="item-icon-right" ng-click="blinds();">
                <h2>Nuevo feed</h2>
                <p>La reforma migratoria será prioridad para la senadora....</p>
                <i class="icon  ion-ios-paper muted"></i>
            </ion-item>
            <ion-item nav-clear menu-close class="item-icon-right" ng-click="ripple();">
                <h2>Nuevo feed</h2>
                <p>Las medidas de obama buscaban beneficiar...</p>
                <i class="icon  ion-ios-paper muted"></i>
            </ion-item>
            <ion-item nav-clear menu-close class="item-icon-right" ng-click="fadeSlideIn();">
                <h2>Complementa tus datos</h2>
                <p>Recuerda completar tu Plan Familiar de contingencia.</p>
                <i class="icon ion-information muted"></i>
            </ion-item>
            <ion-item nav-clear menu-close class="item-icon-right" ng-click="fadeSlideInRight();">
                <h2>Han contestado tu pregunta</h2>
                <p>Estimado usuario, respecto a la duda que nos pregunta</p>
                <i class="icon ion-chatbubble muted"></i>
            </ion-item>
        </ion-list>
        <br />
        <br />
        <br />
    </ion-content>
</ion-view>
