<ion-view view-title="{{(show_timer)?'Alarma activada...':'Botón de pánico'}}">
	<ion-content>
		<div class="bar bar-subheader pm-bar-orange static text-center" ng-if="show_timer"> <strong class="title">{{(show_timer)?'BOTÓN DE PÁNICO ACTIVADO':'¿ESTÁS EN PROBLEMAS?'}}</strong> </div>
		<!--
		<div class="loader">
			
			
			<svg class="circular">
				<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
			</svg>
		</div>
-->
		
		
		
		<br>
		<div class="im-wrapper">
			

<!--
			<div class="progress-wrapper" on-long-press="onLongPress()" long-press-duration="300" on-touch-end="onTouchEnd()" >
				<div class="progress">
            <img width="200" src="img/assets/btn-panic-noborder.png">
        </div>
        <div round-progress max="30" current="i" stroke="4" clockwise="true" color="#ef473a" rounded="false" animation="linearEase" ></div>
      </div>
-->
		
			
			<p ng-if="!show_timer" class="text-center" ng-click="start_panic()" style="margin-top:-17px">
				<!--				<button class="button button-assertive button-fab ink-dark button-raised " style="width:200px; height:200px;"> <i class="icon" style="width:200px; height:200px; font-size:30px">{{help_text}}</i> </button>--><img ng-if="!button_pressed" width="100%" src="img/assets/btn-panic.png"> <img ng-if="button_pressed" width="100%" src="img/assets/btn-panic-hold.png"> </p>
			<p ng-if="!show_timer" style="margin-top:-20px;margin-bottom:7px;" class="pm-detona">{{(!button_pressed)?'DETONA EL BOTÓN':'PRESIONA PARA CANCELAR'}}</p>
			<p ng-if="show_timer" class="text-center bold"> Estimado Jorge, se han iniciado los procesos y protocolos de atención a tu solicitud.
				<br> </p>
			<p ng-if="!show_timer" class="text-center pm-instructions">{{(!button_pressed)?'Envía tus coordenadas al momento o llama al Call Center para recibir ayuda inmediata.':'Se confirmará alarma en 3 segundos...'}}</p>
			<a href="tel:18009999999">
				<button id="start_button" style="margin-top:-10px" class="button button-block pm-button-blue icon balanced ion-ios-telephone-outline"> Llamar al Call Center </button>
			</a>
			<h4 ng-if="false" class="border-top"><i class="icon ion-information-circled"></i> Tus servicios contratados</h4>
			<!-- Protocolo -->
			<div ng-if="show_timer" class="row">
				<div class="col col-20">
					<a class="item item-icon-left" style="border:none"> <i class="icon balanced ion-ios-checkmark-outline"></i></a>
				</div>
				<div class="col col-80">
					<p>Iniciamos el seguimiento de tu ubicación durante las próximas 24 horas, no apagues tu celular.</p>
				</div>
			</div>
			<p ng-if="show_timer" class="text-center" style="margin:0px"><img ng-if="show_timer" width="60%" src="img/map.png"></p>
			<div ng-if="show_timer" class="row">
				<div class="col col-20">
					<a class="item item-icon-left" style="border:none"> <i class="icon balanced ion-ios-checkmark-outline"></i></a>
				</div>
				<div class="col col-80">
					<p>Iniciamos el <strong>aviso</strong> de tu probable detención<strong> vía SMS y llamada</strong> a tus contactos registrados, así como el envio de tu <strong>Plan familiar de contingencia</strong>.</p>
				</div>
			</div>
			<div ng-if="show_timer" class="row">
				<div class="col col-20">
					<a class="item item-icon-left" style="border:none"> <i class="icon balanced ion-ios-checkmark-outline"></i></a>
				</div>
				<div class="col col-80">
					<p>Iniciamos el <strong>aviso</strong> de tu probable detención al <strong>consulado</strong>.</p>
				</div>
			</div>
			<div ng-if="show_timer" class="row">
				<div class="col col-20">
					<a class="item item-icon-left" style="border:none"> <i class="icon balanced ion-ios-checkmark-outline"></i></a>
				</div>
				<div class="col col-80">
					<p>Iniciamos el <strong>aviso</strong> a la <strong>red de abogados</strong> para que en caso de ser remitido a un centro de detención <strong>seas asesorado personalmente</strong>.</p>
				</div>
			</div>
			<div ng-if="show_timer" class="row">
				<div class="col col-20">
					<a class="item item-icon-left" style="border:none"> <i class="icon ion-ios-checkmark-outline"></i></a>
				</div>
				<div class="col col-80">
					<p>Iniciamos el <strong>aviso</strong> a la <strong>red de abogados</strong> para que en caso de ser remitido a un centro de detención <strong>seas asesorado personalmente</strong>.</p>
				</div>
			</div>
			<div ng-if="show_timer" class="row">
				<div class="col col-20">
					<a class="item item-icon-left" style="border:none"> <i class="icon ion-ios-checkmark-outline"></i></a>
				</div>
				<div class="col col-80">
					<p>Iniciamos el <strong>protocolo</strong> que dará seguimiento a tu <strong>integridad</strong> por las próximas <strong>72 horas</strong>. Es <strong>importante</strong> que <strong>concluyas el proceso</strong> realizando la <strong>llamada</strong> a la que <strong>tienes derecho</strong> en caso de detención, a el centro de atención telefónica <strong>01800 help</strong> </p>
				</div>
			</div>
			<!-- / Protocolo -->
			<h4 ng-if="false" class="border-top"><i class="icon ion-information-circled"></i> Recomendaciones</h4>
			<div ng-if="false" class="list">
				<a class="item item-icon-left"> <i class="icon ion-android-hand"></i> Manten la calma. </a>
				<a class="item item-icon-left"> <i class="icon ion-android-map"></i> Localizaremos consulado cercano. ></a>
				<a class="item item-icon-left"> <i class="icon ion-android-people"></i> Contactaremos a tu familia.
					<!--                    <span class="badge badge-assertive">0</span>--></a>
			</div>
		</div>
		<br>
		<br> </ion-content>
	<div ng-if="show_timer" id="btnCancelAlarm" ng-click="onCancelPanic()" class="bar bar-footer bar-assertive ink-dark">
		<div class="title">Cancelar alarma</div>
	</div>
</ion-view>
<!--<button ng-class="(showAlarm)?'activated':''" class="button button-raised button-assertive button-block icon ion-ios-bell ink-dark"> CANCELAR ALARMA</button>-->