<ion-view view-title="Cuenta y suscripción">
	<ion-content>
		<!--		<div class="bar bar-subheader pm-bar-green static text-center"> <strong class="title">Datos de compra</strong> </div>-->
		<div class="im-wrapper">
			<!--
			
			<h4 class="border-top"><i class="icon ion-ios-person"></i> Información personal</h4>
			
-->
			<ion-list>
				<ion-item nav-clear menu-close class="item-icon-right item-avatar"> <img src="img/avatar.jpg">
					<h2>Jorge Hernández</h2>
					<p>Phar, Texas</p>
					<p>+447 38 7699 7889</p>
					<p>jhernandez1989@hotmail.com</p> <i class="icon ion-ios-arrow-right muted"></i> </ion-item>
			</ion-list>
			<h4 class="border-top"><i class="icon ion-card"></i> Elija tipo de compra</h4>
			<ion-list>
				<ion-radio ng-model="uno.choice_a" ng-value="A">3 meses (19USD)</ion-radio>
				<ion-radio ng-model="uno.choice_a" ng-value="B">6 meses (34USD)</ion-radio>
				<ion-radio ng-model="uno.choice_a" ng-value="C">12 meses (45USD)</ion-radio>
			</ion-list>
			
			<div class="list border-top">
				<label class="item item-input item-stacked-label" style="padding:0px;"> <span class="input-label">¿Cuenta con un código promocional?</span>
					<input type="text" style="padding: 14px;" class="pm-input" placeholder="Ingrese código"> </label>
				<button class="button button-small button-block">Validar</button>
			</div>
			<div class="list border-top">
				<label class="item item-input item-stacked-label" style="padding:0px;"> <span class="input-label bold">Mecanismo de pago</span>
					</label>
				<ion-list>
				<ion-radio ng-model="dos.payment_type" ng-value="'tc'">Tarjeta de Débito o Crédito</ion-radio>
				<ion-radio ng-model="dos.payment_type" ng-value="'check'">Pago referenciado</ion-radio>
				<ion-radio ng-model="dos.payment_type" ng-value="'Pay Pal'">Pay Pal</ion-radio>
			</ion-list>
			</div>
			<br>
			<br>
			<br>
			<br>
			
			
			
			<!--
		<div class="list">
                <a class="item item-icon-left">
                    <i class="icon ion-ios-checkmark-outline"></i> Suscripción
									<span class="badge badge-balanced">activa</span>
                </a>
                <a class="item item-icon-left">
                    <i class="icon ion-ios-calendar-outline"></i> Vencimiento
                    <span class="item-note">
                        19/Marzo/2018
                    </span>
                </a>
                <a class="item item-icon-left">
                    <i class="icon ion-card"></i> Forma de pago
                    <span class="item-note">
                        ***1928
                    </span>
                </a>
            </div>
-->
			<!--
			<h4 class="border-top">
                <i class="icon ion-help-buoy"></i>
                Tu suscripción incluye
            </h4>
				
				<div class="list card">
					<div class="item item-body">
						<h2 class=" text-center">Asesoría Migratoria</h2>
						<p class="text-center">Asesoría especializada 24/7 en diversos temas migratorios. Expertos siempre disponibles para brindarte ayuda según tus necesidades.</p>
						<h2 class=" text-center">Red de Abogados</h2>
						<p class="text-center">Seguimiento de los mejores abogados de Estados Unidos que brindan apoyo antes, durante y después de una detención de manera presencial.</p>
						<h2 class=" text-center">Plan de Contingencia</h2>
						<p class="text-center">Ante una emergencia , se activa tu plan  designado para cada contacto seleccionado por medio de llamadas personalizadas para continuar tu vida aún en futuros acontecimientos difíciles</p>
						<h2 class=" text-center">Botón de Pánico</h2>
						<p class="text-center">Envía tus coordenadas al momento de detonar el botón de pánico a tus contactos seleccionados, abogado y consulado, lo cual facilita y ahorra tiempo ante una acción de respuesta especifica</p>
						<h2 class=" text-center">Llamada Efectiva 1x5</h2>
						<p class="text-center">Siempre hay alguien que te atenderá personalmente, haciendo que tu llamada ante una detención se haga efectiva a 3 contactos, abogado y consulado.</p>
						<h2 class=" text-center">Llamadas Ilimitadas EUA-MÉX</h2>
						<p class="text-center">Habla a México, Estado Unidos y 44 países más las veces que necesites, tus llamadas duran máximo 10 Minutos</p>
						<h2 class=" text-center">News Feed</h2>
						<p class="text-center">Mantenerse al día con respecto a información deseada ya no será difícil, obtén las últimas noticias en tiempo real.</p>
					</div>
				</div>
-->
			<!--			<p class="text-muted text-center">Toda esta información es personal e intrasferible.</p>-->
		</div>
	</ion-content>
	<div  id="btnCancelAlarm" ng-click="showConfirmation()" class="bar bar-footer pm-button-orange ink-dark">
		<div class="title">Suscribir </div>
	</div>
</ion-view>