<ion-view view-title="Protocolo de seguimiento">
	<ion-content>
		<div class="im-wrapper">
			<div class="bar bar-subheader pm-bar-green static text-center"> No iniciado </div>
			<p><strong>ProMigrante</strong>, compromete un seguimiento cercano y puntual a tu persona durante un periodo de 72 horas a partir de la detención que sufras y hasta que realices la llamada a la que tienes derecho en el centro de detención a través de la llamada efectiva en el centro de atención y reacción promigrante que tienes contratada en tu servicio </p>
		</div>
	</ion-content>
</ion-view>